.cityContainer {
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ourPresence {
  border-right: 1px solid #ff0a0a;
  padding-right: 5px;
  font-style: italic;
  font-weight: 600;
}
.city {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}
.seeMore {
  border-left: 1px solid #ff0a0a;
  padding-left: 5px;
  font-style: italic;
  font-weight: 600;
  cursor: pointer;
}
.seeMore:hover {
  color: #ff0000;
}
.cityName {
  font-size: bold;
  font-weight: 600;
  color: #000;
  border-bottom: 2px solid #ff0a0a;
  cursor: pointer;
}
.cityName:hover {
  color: #ff0000;
}
