.slide {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #65cabb, #d6cbc6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.heading {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #1e3b55;
  font-family: "Kollektif Bold", Arial, sans-serif;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px;
  width: 100%;
  padding: 30px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  overflow: hidden;
}

.textSection {
  flex: 1;
  text-align: left;
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.textAnimate {
  opacity: 0;
  transform: translateY(-20px);
}

.imageSection {
  flex: 1;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.imageAnimate {
  opacity: 0;
  transform: translateY(20px);
}

.image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(1.05);
}

.controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  transform: translateY(-50%);
}

.arrow {
  width: 60px;
  height: 60px;
  font-size: 28px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.arrow:hover {
  background: #33acd9;
  transform: scale(1.1);
}

@media (max-width: 1370px) {
  .controls {
    display: none;
  }
}
@media (max-width: 768px) {
  .contentWrapper {
    flex-direction: column;
    gap: 20px;
  }

  .textSection {
    text-align: center;
  }

  .programTitle {
    font-size: 28px;
  }

  .description {
    font-size: 16px;
  }

  .arrow {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
}
