.container {
  background: linear-gradient(135deg, #65cabb, #c6fbf3);
  padding: 40px 10px;
  border-radius: 8px;
}

.innerContainer {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.swiperContainer {
  width: 100%;
  height: auto;
  color: #65cabb;
}

.swiperSlide {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.slideContent {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 20px;
  color: #fff;
  transition: all 0.3s ease;
}

.slideContent:hover .textOverlay {
  background: rgba(0, 0, 0, 0.7);
  transform: scale(1.05);
}

.textOverlay {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 8px;
  max-width: 70%;
  transition: background 0.3s ease, transform 0.3s ease;
}

.detailHeader {
  font-size: 24px;
  font-family: "Kollektif Bold", Arial, sans-serif;
  margin-bottom: 10px;
  color: #ffb800;
}

.detail {
  font-size: 16px;
  font-family: "Inter Regular", Arial, sans-serif;
  line-height: 1.6;
}

/* Adjustments for smaller devices */
@media screen and (max-width: 768px) {
  .innerContainer {
    max-width: 100%;
  }

  .slideContent {
    height: 300px;
    padding: 15px;
  }

  .textOverlay {
    padding: 15px;
    max-width: 90%;
  }

  .detailHeader {
    font-size: 20px;
  }

  .detail {
    font-size: 14px;
  }

  .swiperContainer {
    margin: 0 auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  .slideContent {
    height: 250px;
    padding: 10px;
  }

  .textOverlay {
    padding: 10px;
    max-width: 95%;
  }

  .detailHeader {
    font-size: 18px;
  }

  .detail {
    font-size: 12px;
  }
}
